* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1abc9c;
  color: #ecf0f1;
  display: flex;
  justify-content: center;
  font-family: helvetica;
}

img {
  width: 100%;
  border-radius: 5px;
}

.container {
  width: 80%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid red;
}

header {
  text-align: center;
  width: 100%;
  padding: 20px;
}

.display-info {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.artist-name {
  font-size: 30px;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

.song-title {
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.player {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.music-player {
  width: 80%;
}

.album {
  width: 100%;
}

.artist {
  flex-basis: 17%;
  flex-grow: 0;
  flex-shrink: 0;
  border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 0;
}

.name {
  width: 100%;
  text-align: center;
  padding: 5px;
  font-size: 18px;
}

.image {
  width: 100%;
}

.artwork {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.song {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 17%;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 10px;
}

.title {
  text-align: center;
  font-size: 18px;
  padding: 10px 0;
}

.search {
  width: 100%;
  border-bottom: 2px solid black;
  padding: 10px 0 20px 0;
  display: flex;
  justify-content: center;
}

.search-bar {
  padding: 10px;
  font-size: 16px;
}

.submit {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin: 0 5px;
}
