* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #16a085;
  display: flex;
  justify-content: center;
  font-family: helvetica;
}

img {
  width: 100%;
  border-radius: 5px;
}

.container {
  width: 80%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*border: 2px solid red;*/
}

header {
  text-align: center;
  width: 100%;
  padding: 20px;
  color: #2c3e50;
}

.display-info {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(0,0,0,0);  /*#bdc3c7*/
  padding: 10px 25px;
  color: #34495e;
  border-radius: 10px;
}

.artist-name {
  font-size: 30px;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

.song-title {
  font-size: 20px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.player {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.music-player {
  width: 80%;
}

.album {
  width: 100%;
  display: hidden;
}

.artist {
  flex-basis: 17%;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  padding: 5px;
  background-color: #ecf0f1;
  border-radius: 5px;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.name {
  width: 100%;
  text-align: center;
  padding: 5px;
  font-size: 18px;
}

.image {
  width: 100%;
}

.artwork {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.song {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 17%;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 10px;
  padding: 5px;
  background-color: #ecf0f1;
  border-radius: 5px;
}

.title {
  text-align: center;
  font-size: 18px;
  padding: 10px 0;
}

.search {
  width: 100%;
  border-bottom: 2px solid #34495e;
  padding: 10px 0 20px 0;
  display: flex;
  justify-content: center;
}

.search-bar {
  padding: 10px;
  font-size: 16px;
}

.submit {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin: 0 5px;
}

.filter {
  margin: 20px;
  align-self: flex-start;
  visibility: hidden;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 75px;
  margin: 10px;
}

/****************************Tablet styling******************************/

@media screen and (max-width: 1024px) {

  .container {
    width: 100%;
  }

  .artist {
    flex-basis: 24%;
  }

  .name {
    font-size: 20px;
  }

  .song {
    flex-basis: 24%;
  }

  .title {
    font-size: 20px;
  }

  .display-info {
    width: 30%;
  }
}


/*****************************Mobile Styling******************************/

@media screen and (max-width: 600px) {

  .artist {
    flex-basis: 45%;
  }

  .song {
    flex-basis: 45%;
  }

  .display-info {
    width: 50%;
  }
}
